<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title || 'Aplikasi' %></title>
    <script src="https://cdn.tailwindcss.com"></script>
     <% if (typeof hrefhead != 'undefined') { %>
        <% hrefhead.forEach(function(item) { %>
            <link href="<%= item %>" rel="stylesheet" />
        <% }); %>
    <% } %>
</head>
<body class="bg-gray-100">
    <%- include('../partials/header') %>
    <main>
        <%- body %>
    </main>
    <%- include('../partials/footer') %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <% if (typeof script != 'undefined') { %>
        <% script.forEach(function(item) { %>
            <script type="module" src="<%= item %>"></script>
        <% }); %>
    <% } %>
</body>
</html>